body{
    font-family: Verdana, Arial , sans-serif;
    color:black;
    background-color: #586E7D;
}

h1{
    font-size: 2.5 em;
}

#contenedor{
    width: 80%;
    border: 2px solid black;
    padding: 20px;
    margin-top: 10px;
    background-color: #a6b1bf;
    
}

#menu{
    color: #005689;
    background-color: #e3cdae;
    padding: 10px;
    border: 1px solid black
}

#contenido{
    height: 300px;
}

img{
    height: 200px;
    border: 1px solid black;
    float: right;
}

#final{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 0.75em;
    background-color: #e3cdae;
    padding: 10px;
    width: 50%;
}
#zona-encabezado {
    width: 10% color BLACK;
}

#zona-imagenes {
    width: 100%;
    background-color: #3a4042;
    text-align: center;
}

#zona-cuerpo {
    width: 85%;
    color: black;
    background-color: #50717b;
}

#zona-final {
    width: 85%;
    color: #acabb3;
    background-color: #6a507b;
}

#h1 {
    font-size: 2.5 em;
}

.texto-encabezado {
    font-family: Arial;
    font-size: 20pt;
    color: lemonchiffon;
}
img {
    width: 30%;
}
.texto-cuerpo {

    font-family: 'Times New Roman', Times, serif;
    font-size:12pt;
}
.texto-final {

    font-family: 'Times New Roman', Times, serif;
    font-size: 10pt;
    font-weight: bold;
}